VehicleListingSystem/DataAccessLayer/VehiclesShema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Vehicles">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Vehicle">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="model" type="xs:string" use="required" />
            <xs:attribute name="price" type="xs:decimal" use="required" />
            <xs:attribute name="currency" type="xs:string" use="required" />
            <xs:attribute name="image" type="xs:string" use="required" />
            <xs:attribute name="manufacturer" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>